body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;

}

header {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
   
    text-align: center;
    color: rgb(5, 2, 2);
    padding: 10px 0;
    text-align: center;


}
.home-page header {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
   
    text-align: center;
    color: rgb(5, 2, 2);
    padding: 10px 0;
    text-align: center;
}
section {
    padding: 20px;
}
.button-oval {
    font-family: 'Maconda';
    background-color:rgb(172, 132, 25);
    color:white;
    border:20px solid black;
    padding:0%
    font;
    cursor:pointer;
    border-radius: 999%;
    

}


    


#proButton {
  background-color: transparent;
  color: black;
  padding: 20px 24px;
    border-radius: 12px;
    font-family:'Trebuchet MS';
    font-weight: 700;
    transition: background-color 0.3s ease;
  cursor: pointer;


  


}
#proButton:hover {
    background-color: rgb(255, 255, 255);

}

a {
  text-decoration: none;         /* Removes underline */
  color: rgb(255, 255, 255);                /* Modern blue tone */
  font-weight: 500;              /* Slightly bold */
  transition: color 0.3s ease; 
}
a:hover {
    color: #ffdd57;               /* Bright yellow on hover */
    cursor: pointer;

}
